go 1.27.1

use (
	.
	./modules/base-os
	./modules/chrony
	./modules/coredns
	./modules/fake-compute
	./modules/powerdns
	./modules/proxmox
	./modules/step-ca
	./sdk
	./test/modules/panicking
	./test/modules/test-a
	./test/modules/test-b
	./test/modules/test-c
	./test/modules/test-d
	./test/modules/test-e
	./test/modules/test-f
	./test/modules/test-kv
)
